@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --bg-color1: rgb(46,73,92);
    --bg-color2: rgb(59,90,101);
    --key-color: rgb(95,119,131);
    --main-font-color: rgb(255, 255, 255);
}

* {
    padding: 0;margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    background-image: linear-gradient(to bottom right, white, yellow);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    width: 350px;
    height: 450px;
    background-color: var(--bg-color1);
    border-radius: 25px;
}

.calc .display {
    width: 100%;
    height: 30%;
    background-color: var(--bg-color2);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
}

.calc .display input {
    width: 80%;
    height: 50%;
    border: 0;
    outline: 0;
    border-radius: 1px;
}

.calc .keys {
    width: 100%;
    height: 70%;
    background-color: var(--bg-color1);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 7% 0;
}

.calc .keys button {
    background-color: var(--key-color);
    border: 0;
    border-radius: 1px;
    color: var(--main-font-color);
    width: 70px;
    height: 70px;
    font-size: 3em;
    margin: 5px 5px;
}

.calc .keys button:hover {
    background-color: var(--bg-color2);
}

.calc .keys button:active {
    background-color: var(--bg-color1);
}

.calc .keys .C-button {
    background-color: rgb(173, 20, 20);
}

.calc .keys .C-button:hover {
    background-color: rgb(150, 23, 23);
}

.calc .keys .C-button:active {
    background-color: rgb(128, 20, 20);
}
